---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Proyectos</h2>
			<p>
				Use one of our landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Caja Sullana" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-4" title="Caja Cusco" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-5" title="Análisis de importaciones" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-6" title="UDEP" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-7" title="Embarcaciones pesqueras" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-3" title="Crickets" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>



			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
