---
import { getCollection } from 'astro:content';
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page'
};

const publishedTeamMembers = await getCollection('team', ({ data }) => {
	return !data.draft && data.publishDate < new Date();
});
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Nosotros</h1>
			<p>
				Nuestra misión es proporcionar soluciones innovadoras que permitan a las empresas optimizar sus procesos y
				alcanzar sus objetivos de manera eficiente.
				Con una combinación de experiencia técnica y un enfoque centrado en el cliente, en INNOVA TEAM nos esforzamos
				por entender las necesidades específicas de
				cada organización para ofrecer soluciones personalizadas y de calidad.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/team_work.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
		{
			publishedTeamMembers.map((teamMemberEntry) => (
				<div class="group">
					<div class="w-full aspect-square">
						<picture slot="image-container">
							<img
								src={teamMemberEntry.data.avatar.src}
								alt={''}
								sizes="(max-width: 800px) 100vw, 400px"
								width={400}
								height={400}
								class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
							/>
						</picture>
					</div>

					<div class="mt-4 text-center">
						<h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
						<h3 class="text-sm text-slate-500">
							{teamMemberEntry.data.title}
						</h3>
					</div>
				</div>
			))


		}
	</div>
	<TextSection narrow>

	</TextSection>
</Layout>
